<a href="https://colab.research.google.com/github/diegogt17/Juego-amigo-secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("Hola Mundo")

Hola Mundo

In [ ]:
112

112

In [ ]:
print("Mi nombre es Diego Gómez, estoy estudiando Data Science")

Mi nombre es Diego Gómez, estoy estudiando Data Science

In [ ]:
print("Año actual: ", 2025)

Año actual:  2025

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
edad = 5

In [ ]:
type(edad)

int

In [ ]:
promedio = 9.5

In [ ]:
type(promedio)

float

In [ ]:
nombre = "Diego"

In [ ]:
type(nombre)

str

In [ ]:
V = True

In [ ]:
type(V)

bool

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

In [ ]:
nombre_estudiante = 'Penelope Camacho'
edad_estudiante = 11
promedio_estudiante = 9
aprobado = True

print(nombre_estudiante,edad_estudiante,promedio_estudiante,aprobado)
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_estudiante),type(aprobado))

Penelope Camacho 11 9 True
<class 'str'> <class 'int'> <class 'int'> <class 'bool'>

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docente = 16
s_docente = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salario = s_coordinador - s_vigilante
diferencia_salario

300

In [ ]:
promedio_ponderado = (c_vigilante * s_vigilante + c_docente * s_docente + c_coordinador * s_coordinador) / total_empleados
promedio_ponderado

465.2173913043478

In [ ]:
type(promedio_ponderado)

float

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

140243406327360

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
id(texto)

140243406327360

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
140243406327360 140243386364016

In [ ]:
texto = texto.strip().replace('y','t').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
140243386361904 140243386364016

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")
print("Hola", nombre)

Escribe tu nombre: diego
Hola diego

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
anio_admision = int(input('Digita el año de admisión: '))

Digita el año de admisión: 2024

In [ ]:
type(anio_admision)

int

In [ ]:
nota_admision = float(input('Digita la nota de admisión: '))

Digita la nota de admisión: 9

In [ ]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'El año de admisión fue: {anio_admision} \nLa nota de admisión fue: {nota_admision}')

El año de admisión fue: 2024
La nota de admisión fue: 9.0

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

# Estructuras condicionales

In [ ]:
# Nota de aprobación entre 7 y 10 == nota de aprobación >= 7
# Nota de reprobación es menor a 7 == nota de reprobación < 7

"""
Si la nota  es mayor o igual a 7 entonces el estudiante se encuentra
    Aprobado
Si la nota es menor a 7 entonces el estudiante se encuentra
    Reprobado
"""

'\nSi la nota  es mayor o igual a 7 entonces el estudiante se encuentra\n    Aprobado\nSi la nota es menor a 7 entonces el estudiante se encuentra\n    Reprobado\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print('La condición es verdadera.')

La condición es verdadera.

In [ ]:
if 2 > 7:
  print('La condición es verdadera.')
print('Fin de la consulta')

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')
print('Fin de la consulta.')

La condición es falsa.
Fin de la consulta.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input('Digita el promedio de la nota: '))

if nota >= 7:
  print('El estudiante fue aprobado.')
if 7 > nota >= 5:
  print('Recuperación.')
else:
  print('El estudiante fue reprobado.')

Digita el promedio de la nota: 7
El estudiante fue aprobado.
El estudiante fue reprobado.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input('Digita el promedio de la nota: '))

if nota >= 7:
  print('El estudiante fue aprobado.')
elif 7 > nota >= 5:
  print('Recuperación.')
else:
  print('El estudiante fue reprobado.')

Digita el promedio de la nota: 7
El estudiante fue aprobado.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
if f and f:
  print("La condición es verdadera.")
else:
  print("La condición es falsa.")

La condición es falsa.

In [ ]:
if v or f:
  print("La condición es verdadera.")
else:
  print("La condición es falsa.")

La condición es verdadera.

In [ ]:
if not f:
  print("La condición es verdadera.")
else:
  print("La condición es falsa.")

La condición es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,\
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,\
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,\
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,\
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,\
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print(f'El nombre {nombre_1} está en la lista de aprobados.')
else:
  print(f'El nombre {nombre_1} no está en la lista de aprobados.')

El nombre Miguel Castro está en la lista de aprobados.

In [ ]:
if nombre_2 in lista:
  print(f'El nombre {nombre_1} está en la lista de aprobados.')
else:
  print(f'El nombre {nombre_1} no está en la lista de aprobados.')

El nombre Miguel Castro no está en la lista de aprobados.

In [ ]:
num_1 = int(input("Escribe un número entero: "))
num_2 = int(input("Escribe otro número entero: "))

if num_1 > num_2:
  print(f"El número {num_1} es mayor que el número {num_2}.")
elif num_1 < num_2:
  print(f"El número {num_1} es menor que el número {num_2}.")
else:
  print(f"Los números {num_1} y {num_2} son iguales.")

Escribe un número entero: 2
Escribe otro número entero: 2
Los números 2 y 2 son iguales.

In [ ]:
porcentaje_crecim = float(input("Escribe el porcentaje de crecimiento: "))

if porcentaje_crecim > 0:
  print("El crecimiento es positivo.")
elif porcentaje_crecim < 0:
  print("El crecimiento es negativo.")
else:
  print("El crecimiento es cero.")

Escribe el porcentaje de crecimiento: -1.2
El crecimiento es negativo.

In [ ]:
vocales = 'aeiou'
letra = input("Escribe una letra: ")

if letra in vocales:
  print(f"La letra {letra} es una vocal.")
else:
  print(f"La letra {letra} es una consonante.")

Escribe una letra: e
La letra e es una vocal.

In [ ]:
precio_a1 = float(input("Escribe el precio promedio del año 1: "))
precio_a2 = float(input("Escribe el precio promedio del año 2: "))
precio_a3 = float(input("Escribe el precio promedio del año 3: "))

mayor = precio_a1

if precio_a2 > mayor:
  mayor = precio_a2

if precio_a3 > mayor:
  mayor = precio_a3

menor = precio_a1

if precio_a2 < menor:
  menor = precio_a2

if precio_a3 < menor:
  menor = precio_a3

print(f"El mayor precio promedio es: {mayor}")
print(f"El menor precio promedio es: {menor}")

Escribe el precio promedio del año 1: 300000
Escribe el precio promedio del año 2: 500000
Escribe el precio promedio del año 3: 100000
El mayor precio promedio es: 500000.0
El menor precio promedio es: 100000.0

In [ ]:
# Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

precio_a1 = float(input("Escribe el precio del producto 1: "))
precio_a2 = float(input("Escribe el precio del producto 2: "))
precio_a3 = float(input("Escribe el precio del producto 3: "))

if precio_a1 < precio_a2 and precio_a1 < precio_a3:
  print("El producto 1 es el más barato.")
elif precio_a2 < precio_a1 and precio_a2 < precio_a3:
  print("El producto 2 es el más barato.")
else:
  print("El producto 3 es el más barato.")

Escribe el precio del producto 1: 10
Escribe el precio del producto 2: 1.4
Escribe el precio del producto 3: 3
El producto 2 es el más barato.

In [ ]:
# Escribe un programa que lea tres números y los muestre en orden descendente.

num1 = int(input("Escribe el primer número: "))
num2 = int(input("Escribe el segundo número: "))
num3 = int(input("Escribe el tercer número: "))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Escribe el primer número: 5
Escribe el segundo número: 2
Escribe el tercer número: 9
9
5
2

In [ ]:
# Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

turno = input("¿En qué turno estudias? (mañana, tarde o noche): ")

if turno == "mañana":
  print("¡Buenos Días!")
elif turno == "tarde":
  print("¡Buenas Tardes!")
elif turno == "noche":
  print("¡Buenas Noches!")
else:
  print("Valor Inválido!")

¿En qué turno estudias? (mañana, tarde o noche): mañanas
Valor Inválido!

In [ ]:
# Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%)

numero_int = int(input("Escribe un número entero: "))

if numero_int % 2 == 0:
  print(f"El número {numero_int} es par.")
else:
  print(f"El número {numero_int} es impar.")

Escribe un número entero: 6
El número 6 es par.

In [ ]:
# Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

numero = float(input("Escribe un número: "))

if numero.is_integer():
  print(f"El número {numero} es entero.")
else:
  print(f"El número {numero} es decimal.")

Escribe un número: 7.7
El número 7.7 es decimal.

In [ ]:
# Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

num1 = float(input("Escribe el primer número: "))
num2 = float(input("Escribe el segundo número: "))

operacion = input("¿Qué operación deseas realizar? (suma, resta, multiplicacion, division): ")

if operacion == "suma":
  resultado = num1 + num2
elif operacion == "resta":
  resultado = num1 - num2
elif operacion == "multiplicacion":
  resultado = num1 * num2
elif operacion == "division":
  resultado = num1 / num2
else:
  print("Operación inválida.")
  resultado = 0

if resultado % 2 == 0:
    print(f"El resultado es {resultado} y es par.")
else:
    print(f"El resultado es {resultado} y es impar.")

if resultado > 0:
    print(f"El resultado es {resultado} y es positivo.")
else:
    print(f"El resultado es {resultado} y es negativo.")

if resultado % 1 == 0:
    print(f"El resultado es {resultado} y es entero.")
else:
    print(f"El resultado es {resultado} y es decimal.")

Escribe el primer número: 2
Escribe el segundo número: 3
¿Qué operación deseas realizar? (suma, resta, multiplicacion, division): hola
Operación inválida.
El resultado es 0 y es par.
El resultado es 0 y es negativo.
El resultado es 0 y es entero.

In [ ]:
# Recolectamos los lados de un triángulo

lado1 = float(input("Escribe la longitud del primer lado: "))
lado2 = float(input("Escribe la longitud del segundo lado: "))
lado3 = float(input("Escribe la longitud del tercer lado: "))

# Verificamos si los lados pueden formar un triángulo

if lado1 + lado2 > lado3 and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
  print("Se puede formar un triángulo.")
  if lado1 == lado2 and lado1 == lado3:
    print("El triángulo es equilátero.")
  elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
    print("El triángulo es escaleno.")
  else:
    print("El triángulo es isósceles.")
else:
  print("No se puede formar un triángulo.")

Escribe la longitud del primer lado: 6
Escribe la longitud del segundo lado: 2
Escribe la longitud del tercer lado: 5
Se puede formar un triángulo.
El triángulo es escaleno.

In [ ]:
"""
Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$ 2,00 y el precio por litro de etanol es de R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

    El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
    El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.
"""

cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04

elif tipo_combustible == 'D':
  # Establecemos el precio por litro de댓sel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05

else:
  print('Tipo de combustible inválido.')
  precio_litro = 0.0
  descuento = 0.0

valor_descuento = precio_litro * cantidad_litros * descuento
valor_a_pagar = precio_litro * cantidad_litros - valor_descuento

print(f'El valor del descuento es: {valor_descuento}')
print(f'El valor total a pagar por el cliente es: {valor_a_pagar}')

Ingrese la cantidad de litros vendidos: 10
Ingrese el tipo de combustible (E para etanol y D para diésel): e
El valor del descuento es: 0.34
El valor total a pagar por el cliente es: 16.66

In [ ]:
'''
En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

    Para una variación superior al 20%: bonificación para el equipo de ventas.
    Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
    Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
    Para bonificaciones inferiores al -10%: recorte de gastos.
'''

# Recolectamos las ventas de los dos años

ventas_2022 = float(input('Ingrese las ventas del año 2022: '))
ventas_2023 = float(input('Ingrese las ventas del año 2023: '))

# Calculamos la variación porcentual entre las ventas de los años 2022 y 2023

variacion_porcentual = ((ventas_2023 - ventas_2022) / ventas_2022) * 100
print(variacion_porcentual)

# Verificamos la variación porcentual y proporcionamos sugerencias

if variacion_porcentual > 20:
  print('Bonificación para el equipo de ventas.')
elif 2 <= variacion_porcentual <= 20:
  print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= variacion_porcentual < 2:
  print('Planificación de políticas de incentivo a las ventas.')
else:
  print('Recorte de gastos.')

Ingrese las ventas del año 2022: 25000
Ingrese las ventas del año 2023: 35000
40.0
Bonificación para el equipo de ventas.

21# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Escribe la nota 1: '))
nota_2 = float(input('Escribe la nota 2: '))
print(f'El promedio del estudiante 1 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Escribe la nota 1: '))
nota_2 = float(input('Escribe la nota 2: '))
print(f'El promedio del estudiante 2 es: {(nota_1 + nota_2) / 2}')

nota_1 = float(input('Escribe la nota 1: '))
nota_2 = float(input('Escribe la nota 2: '))
print(f'El promedio del estudiante 3 es: {(nota_1 + nota_2) / 2}')

Escribe la nota 1: 6.5
Escribe la nota 2: 8.5
El promedio del estudiante 1 es: 7.5
Escribe la nota 1: 8.3
Escribe la nota 2: 9
El promedio del estudiante 2 es: 8.65
Escribe la nota 1: 10
Escribe la nota 2: 6
El promedio del estudiante 3 es: 8.0

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1

while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1

while contador <= 3:
  nota_1 = float(input('Escribe la nota 1: '))
  nota_2 = float(input('Escribe la nota 2: '))
  print(f'El promedio del estudiante {contador} es: {(nota_1 + nota_2) / 2}')
  contador += 1

Escribe la nota 1: 8.5
Escribe la nota 2: 5.7
El promedio del estudiante 1 es: 7.1
Escribe la nota 1: 6.5
Escribe la nota 2: 10
El promedio del estudiante 2 es: 8.25
Escribe la nota 1: 9
Escribe la nota 2: 7
El promedio del estudiante 3 es: 8.0

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota_1 = float(input('Escribe la nota 1: '))
  nota_2 = float(input('Escribe la nota 2: '))
  print(f'El promedio del estudiante es: {(nota_1 + nota_2) / 2}')

Escribe la nota 1: 7
Escribe la nota 2: 10
El promedio del estudiante es: 8.5
Escribe la nota 1: 9.5
Escribe la nota 2: 7.4
El promedio del estudiante es: 8.45
Escribe la nota 1: 9.1
Escribe la nota 2: 9.5
El promedio del estudiante es: 9.3

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
# Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.
x1 = int(input('Esriba el primer número: '))
x2 = int(input('Esriba el segundo número: '))

for i in range(x1 + 1, x2):
  print(i)

Esriba el primer número: 3
Esriba el segundo número: 10
4
5
6
7
8
9

In [ ]:
#solución del ej anterior de Alura

inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 10
Ingresa el segundo número entero: 10
Los números son iguales.

In [ ]:
# Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

colonia_a = 4
colonia_b = 10

tasa_a = 0.03
tasa_b = 0.015

dias = 0

while colonia_a <= colonia_b:
  colonia_a *= (1 + tasa_a)
  colonia_b *= (1 + tasa_b)
  dias += 1
  print(f'Día {dias}: Colonia A = {colonia_a}, Colonia B = {colonia_b}')

print(f'Tomará {dias} días para que la colonia A supere o iguale a la colonia B.')

Día 1: Colonia A = 4.12, Colonia B = 10.149999999999999
Día 2: Colonia A = 4.2436, Colonia B = 10.302249999999997
Día 3: Colonia A = 4.370908, Colonia B = 10.456783749999996
Día 4: Colonia A = 4.5020352400000005, Colonia B = 10.613635506249995
Día 5: Colonia A = 4.6370962972, Colonia B = 10.772840038843745
Día 6: Colonia A = 4.7762091861160005, Colonia B = 10.934432639426399
Día 7: Colonia A = 4.919495461699481, Colonia B = 11.098449129017794
Día 8: Colonia A = 5.0670803255504655, Colonia B = 11.26492586595306
Día 9: Colonia A = 5.21909273531698, Colonia B = 11.433899753942356
Día 10: Colonia A = 5.375665517376489, Colonia B = 11.60540825025149
Día 11: Colonia A = 5.536935482897784, Colonia B = 11.77948937400526
Día 12: Colonia A = 5.703043547384717, Colonia B = 11.956181714615338
Día 13: Colonia A = 5.874134853806259, Colonia B = 12.135524440334567
Día 14: Colonia A = 6.050358899420448, Colonia B = 12.317557306939584
Día 15: Colonia A = 6.231869666403061, Colonia B = 12.502320666543676
Día 16: Colonia A = 6.418825756395154, Colonia B = 12.68985547654183
Día 17: Colonia A = 6.611390529087008, Colonia B = 12.880203308689955
Día 18: Colonia A = 6.809732244959618, Colonia B = 13.073406358320304
Día 19: Colonia A = 7.014024212308407, Colonia B = 13.269507453695107
Día 20: Colonia A = 7.22444493867766, Colonia B = 13.468550065500532
Día 21: Colonia A = 7.4411782868379905, Colonia B = 13.670578316483038
Día 22: Colonia A = 7.664413635443131, Colonia B = 13.875636991230282
Día 23: Colonia A = 7.894346044506425, Colonia B = 14.083771546098735
Día 24: Colonia A = 8.131176425841618, Colonia B = 14.295028119290214
Día 25: Colonia A = 8.375111718616866, Colonia B = 14.509453541079566
Día 26: Colonia A = 8.626365070175373, Colonia B = 14.727095344195758
Día 27: Colonia A = 8.885156022280635, Colonia B = 14.948001774358694
Día 28: Colonia A = 9.151710702949053, Colonia B = 15.172221800974073
Día 29: Colonia A = 9.426262024037525, Colonia B = 15.399805127988683
Día 30: Colonia A = 9.70904988475865, Colonia B = 15.630802204908512
Día 31: Colonia A = 10.00032138130141, Colonia B = 15.865264237982139
Día 32: Colonia A = 10.300331022740453, Colonia B = 16.10324320155187
Día 33: Colonia A = 10.609340953422667, Colonia B = 16.344791849575145
Día 34: Colonia A = 10.927621182025346, Colonia B = 16.58996372731877
Día 35: Colonia A = 11.255449817486106, Colonia B = 16.838813183228552
Día 36: Colonia A = 11.59311331201069, Colonia B = 17.09139538097698
Día 37: Colonia A = 11.94090671137101, Colonia B = 17.347766311691633
Día 38: Colonia A = 12.29913391271214, Colonia B = 17.607982806367005
Día 39: Colonia A = 12.668107930093505, Colonia B = 17.872102548462507
Día 40: Colonia A = 13.048151167996311, Colonia B = 18.140184086689445
Día 41: Colonia A = 13.4395957030362, Colonia B = 18.412286847989783
Día 42: Colonia A = 13.842783574127287, Colonia B = 18.688471150709628
Día 43: Colonia A = 14.258067081351106, Colonia B = 18.96879821797027
Día 44: Colonia A = 14.68580909379164, Colonia B = 19.253330191239822
Día 45: Colonia A = 15.12638336660539, Colonia B = 19.542130144108416
Día 46: Colonia A = 15.580174867603553, Colonia B = 19.83526209627004
Día 47: Colonia A = 16.04758011363166, Colonia B = 20.132791027714088
Día 48: Colonia A = 16.52900751704061, Colonia B = 20.434782893129796
Día 49: Colonia A = 17.02487774255183, Colonia B = 20.741304636526742
Día 50: Colonia A = 17.535624074828384, Colonia B = 21.05242420607464
Día 51: Colonia A = 18.061692797073235, Colonia B = 21.368210569165758
Día 52: Colonia A = 18.60354358098543, Colonia B = 21.68873372770324
Día 53: Colonia A = 19.161649888414996, Colonia B = 22.01406473361879
Día 54: Colonia A = 19.736499385067447, Colonia B = 22.34427570462307
Día 55: Colonia A = 20.32859436661947, Colonia B = 22.679439840192412
Día 56: Colonia A = 20.938452197618055, Colonia B = 23.019631437795297
Día 57: Colonia A = 21.566605763546598, Colonia B = 23.364925909362224
Día 58: Colonia A = 22.213603936452998, Colonia B = 23.715399798002654
Día 59: Colonia A = 22.880012054546587, Colonia B = 24.071130794972692
Día 60: Colonia A = 23.566412416182985, Colonia B = 24.43219775689728
Día 61: Colonia A = 24.273404788668476, Colonia B = 24.798680723250737
Día 62: Colonia A = 25.00160693232853, Colonia B = 25.170660934099494
Día 63: Colonia A = 25.75165514029839, Colonia B = 25.548220848110983
Tomará 63 días para que la colonia A supere o iguale a la colonia B.

In [ ]:
# Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

#Declaré válidas e inválidas porque quise agregar una funcionalidad extra al ejercicio, inician en cero porque son contadores. Quiero que al final me diga el programa la cantidad de respuestas válidas e inválidas.
validas = 0
invalidas = 0

for i in range(15):
  calificacion = float(input(f'Usuario número {i+1}. Escribe una calificación del 0 al 5: '))
  while calificacion < 0 or calificacion > 5:
    print('Calificación inválida.')
    invalidas += 1
    calificacion = float(input('Escribe una calificación del 0 al 5: '))

  validas += 1

print(f'Calificaciones válidas: {validas}')
print(f'Calificaciones inválidas: {invalidas}')

Usuario número 1. Escribe una calificación del 0 al 5: 2
Usuario número 2. Escribe una calificación del 0 al 5: 3
Usuario número 3. Escribe una calificación del 0 al 5: 4
Usuario número 4. Escribe una calificación del 0 al 5: 5
Usuario número 5. Escribe una calificación del 0 al 5: 1
Usuario número 6. Escribe una calificación del 0 al 5: 9
Calificación inválida.
Escribe una calificación del 0 al 5: 3
Usuario número 7. Escribe una calificación del 0 al 5: 4
Usuario número 8. Escribe una calificación del 0 al 5: 2
Usuario número 9. Escribe una calificación del 0 al 5: 5
Usuario número 10. Escribe una calificación del 0 al 5: 7
Calificación inválida.
Escribe una calificación del 0 al 5: 1
Usuario número 11. Escribe una calificación del 0 al 5: 2
Usuario número 12. Escribe una calificación del 0 al 5: 3
Usuario número 13. Escribe una calificación del 0 al 5: -1
Calificación inválida.
Escribe una calificación del 0 al 5: 4
Usuario número 14. Escribe una calificación del 0 al 5: 5
Usuario número 15. Escribe una calificación del 0 al 5: 4
Calificaciones válidas: 15
Calificaciones inválidas: 3

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [2]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [3]:
type(lista)

list

In [4]:
lista.index(True)

4

In [5]:
lista[0]

'Penélope Camacho'

In [6]:
type(lista[1])

float

In [7]:
type(lista[-1])

bool

In [8]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [9]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [10]:
lista[2]

9.0

In [11]:
lista[2]=10.0

In [12]:
lista[2]

10.0

In [13]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [15]:
promedio = (lista[1] + lista[2] + lista[3]) / 3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [16]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [17]:
lista[0:2]

['Penélope Camacho', 9.5]

In [18]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [19]:
lista[3:]

[9.7, True]

In [20]:
lista[:]

['Penélope Camacho', 9.5, 10.0, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [21]:
lista.append(promedio)

In [22]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [23]:
lista.extend([10.0,8.0,9.0])

In [24]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [25]:
lista.append([10.0,8.0,9.0])

In [26]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [27]:
lista.remove([10.0, 8.0, 9.0])

In [28]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [29]:
diccionario = {'llave_1':1,
               'llave_2':2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [30]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [31]:
estudiante = {
    'matrícula': 2000168933,
    'día de registro': 25,
    'mes de registro': 10,
    'grupo': '2E'
}

estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E'}

In [32]:
estudiante['matrícula']

2000168933

In [33]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [34]:
estudiante['grupo'] = '2G'

In [35]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [36]:
estudiante['modalidad'] = 'EAD'

In [37]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [38]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [39]:
estudiante.pop('grupo')

'2G'

In [40]:
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [41]:
estudiante.items()

dict_items([('matrícula', 2000168933), ('día de registro', 25), ('mes de registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [42]:
estudiante.keys()

dict_keys(['matrícula', 'día de registro', 'mes de registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [43]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [46]:
for llave in estudiante.keys():
  print(llave)

matrícula
día de registro
mes de registro
modalidad

In [47]:
for llave,valor in estudiante.items():
  print(llave,'--->',valor)

matrícula ---> 2000168933
día de registro ---> 25
mes de registro ---> 10
modalidad ---> EAD

In [48]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [49]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

In [50]:
# Datos de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Calculamos el promedio encontrando el valor total de gastos con la función sum
# y la cantidad total de compras realizadas con len
total_gastos = sum(gastos)
cantidad_compras = len(gastos)
media_gastos = total_gastos / cantidad_compras
# Resultado
print(f'El promedio de gastos es {media_gastos} reales.')

El promedio de gastos es 3144.222 reales.

In [51]:
# Datos de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Variable que contará cuántas compras se realizaron por encima de 3000
contador_acima_3000 = 0
# Usamos un bucle para recorrer la lista de gastos
for gasto in gastos:
  # Verificamos si el elemento está por encima de 3000
  if gasto > 3000:
    # Sumamos uno al contador si hay algún valor por encima de 3000
    contador_acima_3000 += 1

# Con el conteo podemos calcular el porcentaje de valores por encima de 3000 entre todas las compras
porcentaje_acima_3000 = 100 * contador_acima_3000 / cantidad_compras

# Resultado
print(f'{contador_acima_3000} compras estuvieron por encima de R$3000,00.')
print(f'{porcentaje_acima_3000}% de los gastos estuvieron por encima de R$3000,00.')

7 compras estuvieron por encima de R$3000,00.
70.0% de los gastos estuvieron por encima de R$3000,00.

In [52]:
# Lista que almacenará los 5 números enteros
lista_numeros = []

# Creamos un bucle que iterará 5 veces para recibir los 5 números
for i in range(0, 5):
  # Recopilamos el valor e lo insertamos en la lista 5 veces
  numero = int(input('Ingresa un número entero: '))
  lista_numeros.append(numero)
#Resultado
print(f'Lista de números ingresados: {lista_numeros}')

Ingresa un número entero: 10
Ingresa un número entero: 2
Ingresa un número entero: 7
Ingresa un número entero: 9
Ingresa un número entero: 1
Lista de números ingresados: [10, 2, 7, 9, 1]

In [55]:
# Recopilamos el número
numero = int(input('Ingresa un número entero: '))
# Lista para almacenar los números primos
lista_primos = []
# Bucle que recorre todos los números por debajo del número ingresado
for num in range(2, numero):
  # Primo es una bandera que nos permite saber si el valor analizado es primo o no.
  primo = True
  # Probamos si todos los números por debajo del especificado en el primer bucle pueden dar una división exacta.
  for prueba_divisibles in range(2, num):
    if num % prueba_divisibles == 0:
      # Si es divisible por algún número, entendemos que el número no es primo y terminamos el bucle interno con break.
      primo = False
      break
  # La condición se convierte en el resultado booleano de primo: False. Ignoramos la condición True y ejecutamos el bloque del if.
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Ingresa un número entero: 10
Lista de números primos: [2, 3, 5, 7]

In [56]:
# Recopilamos la fecha
dia = int(input('Ingrese el día: '))
mes = int(input('Ingrese el mes: '))
año = int(input('Ingrese el año: '))

# Análisis de febrero
if mes == 2:
  # Verificamos si es o no un año bisiesto
  if año % 4 == 0 and (año % 400 == 0 or año % 100 != 0):
    dias_febrero = 29
  else:
    dias_febrero = 28
  # Verificamos si el día ingresado coincide con el máximo de días de febrero
  if dia >= 1 and dia <= dias_febrero:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 31 días
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Verificamos meses que terminan en 30 días
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Fecha válida')
  else:
    print('Fecha inválida')
# Si el mes no está entre 1 y 12
else:
  print('Fecha inválida')

Ingrese el día: 5
Ingrese el mes: 2
Ingrese el año: 1997
Fecha válida

In [57]:
# Lista de crecimiento de bacterias
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
# Lista que almacenará las tasas de crecimiento
porcentaje_crecimiento = []
# Recorremos los índices de 1 a 9 para comparar los valores actuales con los anteriores
for i in range(1, len(bacterias_colonia)):
  # Realizamos el cálculo: 100 * (muestra_actual - muestra_anterior) / (muestra_anterior)
  porcentaje = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  # Agregamos el resultado a la lista porcentaje_crecimiento
  porcentaje_crecimiento.append(porcentaje)
# Resultado
print(f'Porcentajes de crecimiento:\n{porcentaje_crecimiento}')

Porcentajes de crecimiento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [59]:
# Lista que contendrá los valores de IDs
ids = []
# Variables contadoras de dulces y amargos
dulce = 0
amargo = 0

# Creamos un bucle que iterará 10 veces para recopilar los 10 IDs
for i in range(0,10):
  # Recopilamos el ID y lo agregamos a la lista
  ids.append(int(input(f'Ingrese el ID {i+1}°: ')))

# Leemos todos los elementos de la lista de IDs y los asignamos a id
for id in ids:
  # Verificamos si los elementos son pares o impares para llevar el conteo
  if id % 2 == 0:
    dulce += 1
  else:
    amargo += 1

# Resultado
print(f'Cantidad de productos dulces: {dulce}')
print(f'Cantidad de productos amargos: {amargo}')

Ingrese el ID 1°: 500
Ingrese el ID 2°: 501
Ingrese el ID 3°: 503
Ingrese el ID 4°: 520
Ingrese el ID 5°: 550
Ingrese el ID 6°: 551
Ingrese el ID 7°: 552
Ingrese el ID 8°: 601
Ingrese el ID 9°: 603
Ingrese el ID 10°: 605
Cantidad de productos dulces: 4
Cantidad de productos amargos: 6

In [61]:
# Inicializamos los datos
respuestas = []  # Lista para almacenar las respuestas
# Lista de respuestas correctas
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0  # Acumulará la nota total

# Recopilamos las respuestas del estudiante
for i in range(0, 10):
  respuestas.append(input(f'Introduzca la respuesta a la pregunta {i + 1}: ').upper())

# Verificamos si las respuestas coinciden y las sumamos a la nota
for i in range(0, 10):
  if respuestas[i] == gabarito[i]:
    nota += 1

# Mostrando la nota final
print(f'Nota final: {nota}')

Introduzca la respuesta a la pregunta 1: A
Introduzca la respuesta a la pregunta 2: B
Introduzca la respuesta a la pregunta 3: D
Introduzca la respuesta a la pregunta 4: A
Introduzca la respuesta a la pregunta 5: C
Introduzca la respuesta a la pregunta 6: D
Introduzca la respuesta a la pregunta 7: B
Introduzca la respuesta a la pregunta 8: B
Introduzca la respuesta a la pregunta 9: C
Introduzca la respuesta a la pregunta 10: D
Nota final: 1

In [63]:
# Recopilamos la lista de temperaturas mensuales
temperaturas_mensuales = []
for i in range(0, 12):
  temperaturas_mensuales.append(float(input(f'Ingrese la temperatura promedio del mes {i+1}: ')))
# Creamos una lista auxiliar para los nombres de los meses
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
# Calculamos el promedio
media_anual = sum(temperaturas_mensuales) / len(temperaturas_mensuales)

# Resultado
print('Temperaturas por encima del promedio en: ')
for i in range(0, 12):
  # Verificamos todas las temperaturas en comparación con la media anual
  if temperaturas_mensuales[i] > media_anual:
    # Dado que los índices de los meses corresponden a las temperaturas,
    # podemos imprimirlos con el mismo índice
    print(meses[i])

Ingrese la temperatura promedio del mes 1: 29
Ingrese la temperatura promedio del mes 2: 30
Ingrese la temperatura promedio del mes 3: 28.5
Ingrese la temperatura promedio del mes 4: 27
Ingrese la temperatura promedio del mes 5: 31
Ingrese la temperatura promedio del mes 6: 32
Ingrese la temperatura promedio del mes 7: 33
Ingrese la temperatura promedio del mes 8: 32
Ingrese la temperatura promedio del mes 9: 31.7
Ingrese la temperatura promedio del mes 10: 27.9
Ingrese la temperatura promedio del mes 11: 28
Ingrese la temperatura promedio del mes 12: 29
Temperaturas por encima del promedio en:
Febrero
Mayo
Junio
Julio
Agosto
Septiembre

In [64]:
# Diccionario de ventas
datos_ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

# Inicializamos las variables
total_ventas = 0  # Sumará todas las ventas
producto_mas_vendido = ''  # Almacenará el nombre del producto más vendido
unidades_producto_mas_vendido = 0  # Almacenará la cantidad más alta de ventas

# Recorremos las claves y elementos del diccionario
for producto in datos_ventas.keys():
    # Sumamos el total de ventas
    total_ventas += datos_ventas[producto]
    # Verificamos si el valor de ventas actual (datos_ventas[producto]) es mayor que el valor almacenado en unidades_producto_mas_vendido
    # Cada vez que datos_ventas[producto] supere el valor en unidades_producto_mas_vendido,
    # la variable unidades_producto_mas_vendido será igual a datos_ventas[producto], asignando un nuevo valor
    # De manera similar, producto_mas_vendido también se actualiza con el producto actual
    if datos_ventas[producto] > unidades_producto_mas_vendido:
        unidades_producto_mas_vendido = datos_ventas[producto]
        producto_mas_vendido = producto
# Resultados
print(f'Total de ventas es {total_ventas}')
print(f'{producto_mas_vendido} es el más vendido')

Total de ventas es 920
Producto A es el más vendido

In [65]:
# Diccionario de votos por diseño
votos = {'Diseño 1': 1334, 'Diseño 2': 982, 'Diseño 3': 1751, 'Diseño 4': 210, 'Diseño 5': 1811}

# Inicializamos las variables
total_votos = 0  # Sumará todos los votos
ganador = ''  # Almacenará el nombre del diseño ganador
voto_ganador = 0  # Almacenará la cantidad ganadora de votos

# Recorremos las claves y elementos del diccionario
for diseño, voto_diseño in votos.items():
    # Sumamos el total de votos
    total_votos += voto_diseño
    # Verificamos si el voto del diseño actual (voto_diseño) es mayor que el valor almacenado en voto_ganador
    # Cada vez que voto_diseño supere el valor en voto_ganador,
    # la variable voto_ganador será igual a voto_diseño, asignando un nuevo valor
    # De manera similar, el ganador también se actualiza con el diseño actual
    if voto_diseño > voto_ganador:
        voto_ganador = voto_diseño
        ganador = diseño
# Calculamos el porcentaje del diseño ganador
porcentaje = 100 * (voto_ganador) / (total_votos)

# Resultado
print(f'{ganador} es el ganador: ')
print(f'Porcentaje de votos: {porcentaje}%')

Diseño 5 es el ganador:
Porcentaje de votos: 29.747043363994745%

In [66]:
# Lista de salarios
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos las variables
diccionario_abonos = {}  # Diccionario de abonos
total_abono = 0  # Sumará todos los gastos en abonos
abonos_minimo = 0  # Almacenará la cantidad de abonos mínimos
mayor_abono = 0  # Almacenará el mayor valor de abono

# Recorremos toda la lista de salarios
for salario in salarios:
    # Calculamos el valor teórico del abono
    abono = salario * 0.1
    # Si el abono es inferior a 200,
    # ajustamos el valor del abono al mínimo (200)
    if abono < 200:
        abono = 200
    # Agregamos un nuevo dato en el diccionario con la clave abono
    diccionario_abonos[salario] = abono

# Recorremos todos los valores del diccionario de abonos
for abono in diccionario_abonos.values():
    # Contamos los salarios mínimos
    if abono == 200:
        abonos_minimo += 1
    # Verificamos si el abono leído es mayor que el valor almacenado en mayor_abono
    # Cada vez que el abono supere el valor de mayor_abono,
    # la variable mayor_abono será igual al abono, asignando un nuevo valor
    if abono > mayor_abono:
        mayor_abono = abono
    # Sumamos los abonos
    total_abono += abono
# Resultados
print(f'Abonos: {diccionario_abonos}')
print(f'Total de gastos en abonos: {total_abono}')
print(f'Número de empleados que recibieron el abono mínimo: {abonos_minimo}')
print(f'Mayor valor de abono: {mayor_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gastos en abonos: 6087.8
Número de empleados que recibieron el abono mínimo: 2
Mayor valor de abono: 790.3000000000001

In [67]:
# Especificamos los datos para un diccionario
datos = {'Área Norte': [2819, 7236],
         'Área Este': [1440, 9492],
         'Área Sur': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos las variables
suma_media = 0  # Sumará todos los promedios
mayor_diversidad = ''  # Almacenará el área con la mayor diversidad
mayor_suma = 0  # Almacenará la mayor suma de especies
# Recorremos las claves y elementos del diccionario
for área, especies in datos.items():
    # Sumamos el número de especies en cada área utilizando la función sum
    suma_especies = sum(especies)
    # Calculamos el promedio dividiendo la suma de las especies entre la cantidad de especies
    media = suma_especies / len(especies)
    # Imprimimos
    print(f'El {área} tiene un promedio de {media} especies')
    # Verificamos si la suma de especies es mayor que el valor almacenado de mayor_suma
    # Cada vez que suma_especies supere el valor de mayor_suma,
    # la variable mayor_suma será igual a suma_especies, asignando un nuevo valor
    # De manera similar, mayor_diversidad también se actualiza
    if suma_especies > mayor_suma:
        mayor_suma = suma_especies
        mayor_diversidad = área
    # Sumamos los promedios
    suma_media += media
# La media total será la suma_media dividida por la cantidad de áreas
media_total = suma_media / len(datos)
print(f'Media general de especies: {media_total}')
print(f'Área con la mayor diversidad biológica: {mayor_diversidad}')

El Área Norte tiene un promedio de 5027.5 especies
El Área Este tiene un promedio de 5466.0 especies
El Área Sur tiene un promedio de 6732.5 especies
El Área Oeste tiene un promedio de 32067.0 especies
El Área Centro tiene un promedio de 33853.0 especies
Media general de especies: 16629.2
Área con la mayor diversidad biológica: Área Centro

In [68]:
# Especificamos los datos para un diccionario
datos = {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos la variable que sumará todas las edades
total_edades = 0
# Recorremos las claves y elementos del diccionario
for sector, edades in datos.items():
  # Calculamos el promedio dividiendo la suma de las edades entre la cantidad de empleados en cada sector
  media_edad = sum(edades) / len(edades)
  # Imprimimos
  print(f'El {sector} tiene un promedio de {media_edad}')
  # Sumamos los promedios
  total_edades += sum(edades)
# La media total será el total_edades dividido por la cantidad de personas totales (sectores * empleados por sector)
media_total = total_edades / (len(edades) * len(datos))
print(f'La media de edad general es {media_total}')

# Inicializamos la variable que contará a todas las personas con edades por encima de la media
arriba_media = 0
# Recorremos nuevamente las claves y elementos del diccionario
for sector, edades in datos.items():
  # Leemos los elementos (edades) dentro de cada lista de edades en el diccionario
  for edad in edades:
    # Verificamos si el valor de la edad es superior a la media total
    if edad > media_total:
      # En caso de que el valor de la edad sea superior a la media, incrementamos en uno el contador
      arriba_media += 1
# Resultado
print(f'{arriba_media} personas están por encima de la edad media general')

El Sector A tiene un promedio de 39.9
El Sector B tiene un promedio de 42.3
El Sector C tiene un promedio de 35.8
El Sector D tiene un promedio de 36.5
La media de edad general es 38.625
18 personas están por encima de la edad media general